
body{
    margin: 0;
    background-color: #cfcfcf;
}
header {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #707070;
    border-bottom: 5px solid black;
    margin-bottom: 0;
    
}
h1{text-align: center;}

.cabcont{
    width: 100vw;
    margin-top: 0;
    background-color: #9e9e9e;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    
}
.texto{
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-left: 2vw;
}
.oculto{
    visibility: hidden;
    height: 0;
    
}
h2{
    padding-top: 1vh;
    margin-top: 0;
    margin-bottom: 1vh;
    padding-left: 2vw;
}
.punto{
    width: 20px;
    height: 15px;
}

table, th,td {
    border: 0.5px solid;
    border-collapse: collapse;
    text-align: center;
    

}
